<%- include("partials/header.ejs") %>
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dim Background Image</title>
  <style>
    body {
      margin: 0%;
      height: 100vh;

      /* Background Image */
      background-image: url('images/recipes.jpg');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }

    h1 {
      color: white;
      font-size: 2.5rem;
    }
  </style>
</head>

<body>
</body>

</html>